body {
    margin: 0;
}
div#main {
    position: relative;
}
main {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
}

header#top-catter {
    display: flex;
    background-color: #1f1f1f;
    height: 100px;
    width: calc(100% - 100px);
    gap: 10px;
    justify-content: space-between;
}
img#logo-catter {
    max-height: 100%;
}
h1#catter-title {
    color: #fafafa;
    font-size: 2.5em;
}
a.cat, a.catalogs {
    text-decoration: none;
    text-align: center;
}
a.cat:link, a.catalogs:link, a.cat:visited, a.catalogs:visited {
    color: white;
}
a.cat:hover, a.catalogs:hover {
    color: lightcoral;
}
img#logo-cat, img#logo-catalogs {
    height: 75px;
}
div.other-companies {
    display: flex;
    gap: 5px;
}
p.company-name {
    margin: 0;
    height: 10px;
}

nav#side-bar {
    width: 100px;
    height: 100px;
    background-color: #1f1f1f;
}
div#burger {
    height: 30px;
    margin: 35px 0;
}
div.bars {
    width: 50px;
    height: 5px;
    background-color: white;
    margin: 6px auto;
}

a#nav_link_tab {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
a.nav_links {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
a.nav_links:link, a.nav_links:visited {
    color: #fafafa;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

section#catter-body {
    width: 100%;
    padding-top: 100px;
}

article.advertisement {
    width: 100px;
    height: 1000px;
    background-image: url('/CAT-website/temp-ad.png');
    background-repeat: repeat-y;
}

article.content {
    width: calc(100% - 100px);
}

footer#catter-bottom {
    background-color: #1f1f1f;
    color: #fafafa;
    text-align: center;
}
footer#catter-bottom > h3#sponsors {
    margin: 0;
    padding: 20px 0;
    font-size: 1.5rem;
}